body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 a {
  font-size: 18px;
  color: white;
}

h5 {
  font-size: 14px;
}

.hero {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

span {
  font-size: 11px;
  color: white;
}

.white {
  color: white;
}
